<!DOCTYPE html>
<html>
	<head>
		<title>lala</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/milligram/1.2.4/milligram.min.css' />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<h1>lala - the buzzer land</h1>
		
		<button id="reset">
			Reset
		</button>

		<span id="nameForm">
			<input id="nameBox" type="text" maxlength="20" style="width: 200px;" />
			<button id="submitName">
				set name
			</button>
		</span>

		<div>
			<span>in-game: </span>
			<span id="users"></span>
		</div>

		<br />

		<h5>
			Winner is: 
		</h5>
		<h1 id="winningId">
			
		</h1>

		<button id="clicker" style="width: 400px; height: 200px">
			Press here
		</button>

		<script>
			var socket = io();

			// reset game click event
			$("#reset").click(function() {
				socket.emit('reset');
			});

			// on server-side reset completion
			socket.on('resetRegistered', function () {
				// show clicker button again
				$("#clicker").show();

				// clear out the winning id
				$('#winningId').html("<p></p>");
			});

			// on user click of the button, tell server
			// clientId of the person who clicked it
			$(clicker).click(function() {
				socket.emit('clicked', { clientId: socket.id });
			});

			// if someone clicks, update the interface
			socket.on('clickRegistered', function(data) {
				if (data.winnerId === socket.id) {
					$('#winningId').html("<p>You!</p>");
				} else {
					$('#winningId').html("<p>" + data.winnerName + "</p>");
				}
				$('#clicker').hide();
			});

			// on name set
			$("#submitName").click(function () {
				var name = $("#nameBox").val();
				$('#nameForm').html("Hey there, " + "<b>" + name + ".</b>");
				socket.emit('nameSet', { clientId: socket.id, name: name });
			});

			// list people in game
			socket.on('listOfConnected', function (data) {
				$("#users").html("<i>" + data.names.toString() +"</i>");
			});

		</script>
	</body>
</html>
